.users-table {
    width: 100%;
    padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  border-collapse: collapse;
}

ion-title {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}